<div class="container" >
	<h1>This Bike Shop page will be updated daily. Keep on track an be a part of an outstanding new bike shop experience!</h1>
	<p></p>
	<p>Find me in app/views/static_pages/about.html.erb</p>
</div>