<div class="container">
	<h1>StaticPages#index</h1>
	<p>Find me in app/views/static_pages/index.html.erb</p>
	<p></p>
	<p>Welcome! This is my first embedded and Ruby and HTML Content. The date and time is <%= Time.now %></p>
	<p>To have a guess what this is all about just see the picture...</p>
	<%= image_tag("IMG_2371.jpg", class: "img-responsive") %>

	<% test_variable = 42 %>
	<%= test_variable %>
</div>