// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
	color: #757575;
	box-sizing: border-box;
}

.mybtn {
	margin: 2em;
}

.mybtn1 {
	margin: 0.2em;
}

.prod-img {
	margin: 0 auto;
	width: 100%;
}

.product-description {
	color: #757575;
}

.description-text {
	text-align: justify;
}

.cpc {
	margin-top: 5em;
}

.cpc-text {
	margin-top: 0px;
}

.page-direct {
	margin-top: 2em;
}