// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
	color: #757575;
	box-sizing: border-box;
}

body {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
	position: relative;
	text-align: center;
}


/* Navigation bar */

.navbar {
	background-image: linear-gradient(270deg,transparent,#4f5b66);
}

.header-bike-left>a {
	color: #9d9d9d;
}

.header-bike-left>a>span {
	padding: 15px;
	color: #9d9d9d;
}


/* Jumbotron styles comes here */

.jumbotron {
	margin-top: 40px; 
	color: #4A90E2;
	font-weight: 200;
	font-stretch: normal;
}

.carousel-caption {
	bottom: 10px;
	color: #757575;
	text-align: center;
}

.carousel-control {
	width: 5%;
}



/* Product Page */

.product-section {
	padding: 15px;
}