<p id="notice"><%= notice %></p>

<div class="container">
<!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Check out
      <small> our Bikes</small>
      </h1>
    </div>
</div>

<% cache(cache_key_for_products) do %>
	<%= render @products %>
<% end %>

<br>

<%= link_to 'Enter a New Product', new_product_path, :class => 'btn btn-default'%>


<!-- This is just an example of writing a loop with ERB Code
<% paragraph_number = 1 %>
<% 5.times do %>
  <p>This is a paragraph number <%= paragraph_number %></p>
  <% paragraph_number = paragraph_number + 1 %>
<% end %> -->

