<!DOCTYPE html>
<html>
  <head>
    <title>Emily</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to Bike Berlin</h1>
    <h2>Your source No. 1 for used bikes in Berlin</h2>

    <%= yield %>

    <footer>
      <p></p>
    	&copy; 2017 Maik Lindner
    </footer>

  </body>
</html>
